* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: work-sans;
  src: url("../assets/fonts/WorkSans-VariableFont_wght.ttf");
}

.body {
  font-family: work-sans;
  min-height: 100vh;
  background: hsl(275, 100%, 97%);
}
.bg-design {
  background-image: url("../assets/images/background-pattern-mobile.svg");
  height: 40vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main {
  /* height: 300px; */
  /* border: solid blue 1px; */
  width: 95%;
  background-color: hsl(0, 0%, 100%);
  border-radius: 10px;
  padding: 10px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

header {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-bottom: 20px;
}
h1 {
  font-weight: 700;
  font-size: 18px;
}
h2 {
  font-size: 500;
  font-size: 16px;
  text-wrap: balance;
}
h2:hover {
  color: hsl(292, 42%, 14%);
}

.questions {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  cursor: pointer;
}
.questions:hover {
  color: hsl(292, 16%, 49%);
}

.section {
  margin-bottom: 24px;
}

.answer {
  display: none;
}
p {
  text-wrap: pretty;
}

.opened {
  display: block;
}

@media (width >= 320px) {
}

@media (width >= 375px) {
}

@media screen and (width >= 640px) {
  .bg-design {
    background-image: url("../assets/images/background-pattern-desktop.svg");
  }
  .main {
    width: 500px;
  }
  .answer {
    margin-right: 40px;
  }
}
